{{ with .PrevInSection }}
<a class="prev-next-card prev-post" href="{{ .RelPermalink }}">
    <span class="prev-next-label">&#8592; {{ i18n "previous" }}</span>
    <span class="prev-next-title">{{ .Title }}</span>
    {{ if .Description }}<span class="prev-next-desc">{{ .Description }}</span>{{ end }}
    <span class="prev-next-date">{{ dateFormat "January 2, 2006" .Date }}</span>
    {{ if .Params.tags }}
    <span class="prev-next-tags">
        {{ range .Params.tags }}<span class="prev-next-tag">{{ . }}</span>{{ end }}
    </span>
    {{ end }}
</a>
{{ end }}

{{ with .NextInSection }}
<a class="prev-next-card next-post" href="{{ .RelPermalink }}">
    <span class="prev-next-label">{{ i18n "next" }} &#8594;</span>
    <span class="prev-next-title">{{ .Title }}</span>
    {{ if .Description }}<span class="prev-next-desc">{{ .Description }}</span>{{ end }}
    <span class="prev-next-date">{{ dateFormat "January 2, 2006" .Date }}</span>
    {{ if .Params.tags }}
    <span class="prev-next-tags">
        {{ range .Params.tags }}<span class="prev-next-tag">{{ . }}</span>{{ end }}
    </span>
    {{ end }}
</a>
{{ end }}
